<div class="jumbotron">
  <h1 class="display-4">Seja Bem Vindo</h1>
  <p class="lead">Escolha uma opçao abaixo</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Admin', admins_backoffice_welcome_index_path, class: "btn btn-info" %>
    <%= link_to 'Usuário', users_backoffice_welcome_index_path, class: "btn btn-success" %>
  </p>
</div>